
@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap");
@import url("https://font.googleapis.com/css?family=Poppins:200, 300,400,500,600,7ù00,800,900&display=swap");
.redressed{
font-family:"Redressed", serif;

}

.merriweather{
font-family:"Merriweather", serif; 
}

.main-content {
      margin-left: 14em; /* Ajustez cette valeur pour correspondre à la largeur de votre barre latérale */
}
  
input::placeholder {
      color: rgb(255, 253, 253); /* Changez cette valeur pour la couleur de votre choix */
      opacity: 1; /* Assure que l'opacité est à 100% */
}