channels==4.2.0
daphne==4.1.2
Django==5.2.3
django-paypal==2.1
djangorestframework==3.15.2
faiss-cpu==1.10.0
gTTS==2.5.4
gunicorn==23.0.0
langchain==0.3.17
langchain-community==0.3.16
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
langsmith==0.3.4
numpy==2.2.2
openai==1.106.0
pillow==11.1.0
psycopg==3.2.4
psycopg-binary==3.2.4
pypdf==5.2.0
PyPDF2==3.0.1
python-dotenv==1.0.1
tiktoken==0.8.0
tqdm==4.67.1

