channels==4.2.0
daphne==4.1.2
Django
django-paypal==2.1
djangorestframework==3.15.2
faiss-cpu
gTTS==2.5.4
gunicorn==23.0.0
huggingface-hub==0.35.3
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
numpy
openai 
pillow 
pypdf 
PyPDF2 
python-dotenv 
sentence-transformers 
tiktoken 
torch 
tqdm 
psycopg2-binary>=2.9

